{% extends "layout.html" %}
{% block title %}Edit Profile{% endblock %}
{% macro render_errors(field) %}
	{% if field.errors %}
		<ul class="errors">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{% macro render_field(field) %}
	{{ field.label }}
	{{ render_errors(field) }}
	{{ field(**kwargs)|safe }}
{% endmacro %}
{% block extrahead %}
<style>
select, input[type=text], textarea {
	width: 100%;
}
table {
	width: 100%;
}
th {
	width: 20%;
	text-align: center;
}
.errors {
	color: red;
}
</style>

<script>
$(function() {
	$('.detail').hide();
	$('.toggle').change(function() {
		$('#'.concat(this.id).concat('detail')).toggle();
	});
});
</script>

{% endblock %}

{% block content %}
<div class="well span6 offset3">
	<h1> Edit profile</h1>
	<p> This information will appear in your public profile. Leave the fields blank if you'd prefer not to reveal any information.</p>
	<form action="{{ url_for('profile_edit') }}" method="POST"
		enctype="multipart/form-data">
		{% set fb_placeholder = "http://www.facebook.com/you" %}
		{% set tw_placeholder = "http://twitter.com/you" %}
		{% set li_placeholder = "http://www.linkedin.com/in/you" %}
		{% set email_placeholder = default_email() %}
		{{ form.csrf_token }}
		{{ render_field(form.full_name, placeholder="Your Full Name") }}
		{{ render_field(form.courses) }}
		{{ render_field(form.majors) }}
		{{ render_field(form.languages) }}
		{{ render_field(form.location) }}
		{{ render_field(form.facebook, placeholder=fb_placeholder) }}
		{{ render_field(form.twitter, placeholder=tw_placeholder) }}
		{{ render_field(form.linkedin, placeholder=li_placeholder) }}
		{{ render_field(form.email, placeholder=email_placeholder) }}
		{{ render_field(form.bio, rows="8") }}

		<h3>Time for Study Group</h3>
		{{ render_errors(form.availability) }}
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Unavailable</th>
					<th>AM</th>
					<th>PM</th>
					<th>All Day</th>
				</tr>
			</thead>
			<tbody>
			{% for day, field in zip(day_names, form.availability) %}
				<tr>
					<td>{{ day }}</td>
					{% for subfield in field %}
						<td>{{ subfield }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		<h3>{{ form.photo.label.text }}</h3>
		{{ render_errors(form.photo) }}
		{{ form.photo }}
		<input class="btn btn-large btn-primary" style="margin-left:350px;margin-top: 20px;" type="submit" value="Save">
	</form>
</div>
	
{% endblock %}

