{% from "lib.html" import flash_all %}
{% macro render_errors(field) %}
	{% if field.errors %}
		<ul class="errors">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{% macro render_field(field) %}
	{{ field.label }}
	{{ render_errors(field) }}
	{{ field(**kwargs)|safe }}
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
<title> BuddyUp </title>
<link href="{{ css('bootstrap') }}" rel="stylesheet">
<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet">
<link href="{{ css('bootstrap-fileupload') }}" rel="stylesheet">
<link href="{{ css('style') }}" rel="stylesheet">
<script src="{{ js('jquery') }}"></script>
<script src="{{ js('bootstrap') }}"></script>
<script src="{{ js('bootstrap-button') }}"></script>
<script src="{{ js('bootstrap-dropdown') }}"></script>


<style>
select, input[type=text], textarea {
	width: 100%;
}

table {
	width: 100%;
}
th {
	width: 20%;
	text-align: center;
}
.times input {
	margin: 0 auto;
}
.errors {
	color: red;
}
</style>
<script>
$(function() {
	$('.detail').hide();
	$('.toggle').change(function() {
		$('#'.concat(this.id).concat('detail')).toggle();
	});
});

</script>

</head>
<body>

<div class="container">
	<div class="well span6 offset3">  
		<h2> Welcome to BuddyUp! </h2>
		<form action="{{ url_for('profile_create') }}" method="POST"
			enctype="multipart/form-data">
			{% set fb_placeholder = "http://www.facebook.com/you" -%}
			{% set tw_placeholder = "http://twitter.com/you" -%}
			{% set li_placeholder = "http://www.linkedin.com/in/you" %}
			{% set email_placeholder = default_email() -%}
			{{ form.csrf_token }}
			{{ render_field(form.full_name, placeholder="Your Full Name") }}
			{{ render_field(form.courses) }}
			{{ render_field(form.majors) }}
			{{ render_field(form.languages) }}
			{{ render_field(form.location) }}
			{{ render_field(form.facebook, placeholder=fb_placeholder) }}
			{{ render_field(form.twitter, placeholder=tw_placeholder) }}
			{{ render_field(form.linkedin, placeholder=li_placeholder) }}
			{{ render_field(form.email, placeholder=email_placeholder) }}
			{{ render_field(form.bio) }}

			<h3>Time for Study Group</h3>
			{{ render_errors(form.availability) }}
			<table class="times">
				<thead>
					<tr>
						<th></th>
						<th>Unavailable</th>
						<th>AM</th>
						<th>PM</th>
						<th>All Day</th>
					</tr>
				</thead>
				<tbody>
				{% for day, field in zip(day_names, form.availability) %}
					<tr>
						<td>{{ day }}</td>
						{% for subfield in field %}
							<td>
								<div class="radiowrap">
									{{ subfield(class="center") | safe }}
								</div>
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<h3>{{ form.photo.label.text }}</h3>
			{{ render_errors(form.photo) }}
			{{ form.photo }}
			<input class="btn btn-large btn-primary" style="margin-left:350px;margin-top: 20px;" type="submit" value="Save">
		</form>
	</div>
</div>   

</body>
</html>
