<!DOCTYPE html>
<html>
<head>
<title> BuddyUp </title>
	<link href="{{ css('bootstrap') }}" rel="stylesheet">
	<link href="{{ css('style') }}" rel="stylesheet">
	<script src="{{ js('jquery') }}"></script>
	<script src="{{ js('bootstrap') }}"></script>

<style>
h1 {
	color:blue;
}
</style>
</head>
<body>


<div class="container">
<div class="offset3 span6 well">
<h1> A Few Suggestions </h2>
	<p>
		If you don't use your pdx email account very much, be sure to set up email 
		forwarding to your main account so you don't miss messages from potential
		buddies!
	</p>
	<p>
		Before creating a new study group be sure to make sure none of the other
		groups will work for you.
	</p>
	<p>
		Out of respect for others, please do your best to show up to the groups
		you've RSVP'd to.
	</p>
	<p>
		...and don't be afraid to advertise your group during class.
	</p>
	<a class="btn btn-large btn-primary" href="{{ url_for('home') }}" 
style="margin-left:340px;margin-top: 30px;">  Get Started </a>
</div>   
</body>
</html>
