{% extends "layout.html" %}
{% from "lib.html" import flash_all %}
{% block title %} Search Buddies {% endblock %}
{% block extrahead %}
<style>
.span2	{width: 300px;}
.span6	{width: 400px;}

</style>
{% endblock %}
{% block content %}
{{ flash_all() }}
<h2> Search Buddies </h2>
<div class="container">
	<div class="span2"></div>
	<div class="well span6">
		<h4> Please fill in the information below: </h4>
		<form action="{{ url_for('buddy_search_results') }}">
			<label> Course </label>
			<select style="width: 300px" name="course">
				<option value="-1">
					All Enrolled Courses
				</option>
			{% for course_record in courses %}
				<option value="{{ course_record.id }}">
					{{ course_record.name }} by {{ course_record.instructor }}
				</option>
			{% endfor %}
			</select>
			
			<label> Major </label>
			<select style="width: 100%" name="major">
				<option value="-1">Any Major</option>
				{% for major_record in majors %}
					<option value="{{ major_record.id }}">
						{{ major_record.name }}
					</option>
				{% endfor %}
			</select>
			
			<label> Language </label>
			<select style="width: 100%" name="language">
				<option value="-1">Any Language</option>
				{% for language_record in languages %}
					<option value="{{ language_record.id }}">
						{{ language_record.name }}
					</option>
				{% endfor %}
			</select>

			<label> Name </label>  
			<input type="text" class="span2" placeholder="Full Name" name="name">
			<div class="btn-group" style="margin-left:300px;margin-top: 20px;">
				<input class="btn btn-large btn-danger" style="margin-left:10px;" value="Search" type="submit">
			</div>
	  </form>
  </div>
</div>

{% endblock %}
