{% extends "layout.html" %}
{% block forstyle %}
.span3  {width: 200px;}
{% endblock %}
{% block content %}
	<br><br>
        <div class="row">
			<div class="span3"></div>
	<div class="well span6">
		
		<h3>Question &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-primary">Answer this question</button> </h3>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;By username on date</p>
                <br> 
                <p>What is the result of 1+1?</p>
	</div>
       </div>
      
        <div class="row"><div class="span3"></div> 
        <div class="well span6">
                <h4>Answer</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;By username on date</p>
                 <br> 
                <p>Simple, it's 2 </p>
        </div><br><br><br>&nbsp;&nbsp;&nbsp;
       <button class="btn btn-danger remove">Vote this answer</button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 vote(s)</p>
        </div>

        <div class="row"><div class="span3"></div> 
        <div class="well span6">
                <h4>Answer</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;By username on date</p>
                 <br> 
                <p> It must be 2 </p>
        </div><br><br><br>&nbsp;&nbsp;&nbsp;
       <button class="btn btn-danger remove">Vote this answer</button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 vote(s)</p>
        </div>


<form action="demo_form.asp" id="usrform" style="margin-left:250px;">
<textarea class="span6" style="height: 150px;" name="comment" form="usrform" ></textarea>
  <input type="submit" value="Submit" class="btn btn-success">
</form>
{% endblock %}
