{% extends "layout.html" %}
{% from "lib.html" import flash_all %}
{% block title %} Invite to Group {% endblock %}
{% block extrahead %}
<script type="text/javascript">
function toggle(source) {
	$('input[type="users"]').prop('checked', $(source).prop("checked"));
}
</script>
{% endblock extrahead %}

{% block content %}
{{ flash_all() }}
<h2> Invite to Group</h2>
<form action="{{ url_for('event_invitation_send_list', event_id=event.id) }}" method="POST">
<div class="container">
	<div class="span3"></div>
	<div class="well span5">
	<input type="checkbox" onclick="toggle(this)" style="margin-top:-5px;"/> Select/Unselect All <br>
	{% for user in buddies %}
		<label class="checkbox">
			<input type="checkbox" name="users" value="{{user.id}}" style="margin-top:20px;">  
			<p style="float: left;"><img src="{{ profile(user) }}" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> {{ user.full_name }} </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D"> Location: {{ user.location.name }} </font>
			{% if not loop.last %}
				<hr>
			{% endif %}
		</label>
		{% endfor %}
		<input class="btn btn-default btn-primary" style="float:right;" value="Invite" type="Submit">
	</div>
</div>
</form>


{% endblock content %}

