{% extends "layout.html" %}
  
{% block content %}
<h1 style="text-align:center"> My Buddies Page </h1>
<br>

    
	<div class="well span3">
		<form class="navbar-search pull-left">
		<input type="text" class="search-query" placeholder="Search My Buddies">
		</form>
		<br>
		<br>
		<a href="{{url_for('search')}}" style="margin-left:15px;">
			Search All Users
		</a>
		<br>
		<h5 style="text-align:center"> My Buddies </h5>
	<ul>

	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
			User 1
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
			User 2
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
			User 3
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
			User 4
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
			User 5
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 6
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 7
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 8
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 9
		</a>

	</div>
	</li>
</ul>
</div>

 	<div class="well span6">
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User A </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Location: SW  </font>
			<div class="btn btn-medium btn-primary" style="float: right;"> Invite </div>	
			<hr>    
		</div>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User B </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Location: NW  </font>
			<div class="btn btn-medium btn-primary" style="float: right;"> Invite </div>	
			<hr>    
		</div>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User C </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Location: SE  </font>
			<div class="btn btn-medium btn-primary" style="float: right;"> Invite </div>	
			<hr>    
		</div>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User D </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Location: NE  </font>
			<div class="btn btn-medium btn-primary" style="float: right;"> Invite </div>	
			<hr>    
		</div>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User E </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Current Course: STAT 134, MTH: 221 </font>
			<div class="btn btn-medium btn-primary" style="float: right;"> Invite </div>	
			<hr>    
		</div>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User F </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Current Course: STAT 134  </font>
			<div class="btn btn-medium btn-primary" style="float: right;"> Invite </div>	
			<hr>    
		</div>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User G </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Current Course: STAT 134, MTH:153  </font>
			<div class="btn btn-medium btn-primary" style="float: right;"> Invite </div>	
			<hr>    
		</div>


		

 {% endblock %}