{% extends "layout.html" %}
  
{% block content %}
<h1 style="text-align:center;"> Edit profile</h1>
<div class="span3">
	<div style="border:1px solid #e0e0e0;padding:15px;margin-bottom:20px;">
		<div style="text-align:center;">
		<strong class=" PIN_1373193698306_hazClick">
		      Your current avatar
		  </strong>
	  </div>
	  <img src="../static/img/index.jpg"></img>
	  
	  <div class="fileupload fileupload-new" data-provides="fileupload" style="text-align:center;margin-top:15px;">
	  <span class="btn btn-file"><span class="fileupload-new">Change Picture</span><span class="fileupload-exists">Change</span><input type="file" /></span>
	  <span class="fileupload-preview"></span>
	  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
	  </div>
  </div>
  
</div>

<div class="span8">
		<p> This information will appear in your public profile. Leave the fields blank if you'd prefer not to reveal any information.</p>
		<form class="well">  
		  <label> Your Name </label>  
		  <input type="text" class="span3" placeholder="Full Name">  
		  <br> 
		  <label> Gender </label>
		  <select>
		  <option>Male</option>
		  <option>Female</option>
		  <option>Other</option>
	  	  </select>
		  <br>
		  <label> Location</label>
		  <select>
		  <option>Campus</option>  
		  <option>SW Portland</option>
		  <option>SE Portland</option>
		  <option>NW Portland</option>
		  <option>NE Portland</option>
		  <option>Beaverton</option>
		  <option>Gresham</option>
		  <option>Hillsborro</option>
	  	  </select>
		  <br>
		  <label> Your Email</label>
		  <input type="text" class="span3" placeholder="youremail@you.com"> <br>
		  <label> Your Social Network</label>
		  <input type="text" class="span3" placeholder="facebook.com/yourfacebook"> <br>
		  <input type="text" class="span3" placeholder="twitter.com/yourtwitter">
		  <br>
		  <label> Time for Study Group </label>
		  <label> <input type="checkbox" class="toggle" id="monday" style="margin-top:-5px;margin-left:10px;">  Monday </label>
		  <div class="detail" id="mondaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="tuesday" style="margin-top:-5px;margin-left:10px;;">  Tuesday </label>
		  <div class="detail" id="tuesdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="wednesday" style="margin-top:-5px;margin-left:10px;;">  Wednesday </label>
		  <div class="detail" id="wednesdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="thursday" style="margin-top:-5px;margin-left:10px;">  Thursday </label>
		  <div class="detail" id="thursdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="friday" style="margin-top:-5px;margin-left:10px;">  Friday </label>
		  <div class="detail" id="fridaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="saturday" style="margin-top:-5px;margin-left:10px;">  Saturday </label>
		  <div class="detail" id="saturdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="sunday" style="margin-top:-5px;margin-left:10px;">  Sunday </label>
		  <div class="detail" id="sundaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <br>
		  <label> A Few Words About You </label>
		  <textarea type="text" class="span7" style="height: 150px;"> </textarea>
		  <div class="btn btn-primary" style="margin-left:450px;margin-top: 20px;"> Save Changes</div>
		</form>  
</div>
	
{% endblock %}
{% block extrascript %}
<script>
$('.detail').hide();
$('.toggle').change(function() {
	$('#'.concat(this.id).concat('detail')).toggle();
});
</script>
{% endblock %}


