{% extends "layout.html" %}
{% block forstyle %}
.span4	{width: 300px;}
.span5	{width: 390px;}
{% endblock %}  
{% block content %}
<h2 style="margin-left:400px;"> Search for Group</h2> 
{% endblock %}
{% block extrascript %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
$(function() {
  $( "#datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true
  });
});
</script>
<div class="container">
    <div class="span4"></div>
	
    <div class="well span5">
	  <h4> Please fill in these criterion: </h4>
	  <label> Course </label>  
	  <input id="course" type="text" class="span3" placeholder="...">  
	  <label> Date </label>
	  <input id="datepicker" type="text" class="span3" placeholder="mm/dd/yyyy">
	  <label> Starting time: </label>
	  <label id="starttime" style="margin-left:10px;">
	  	<label>
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="margin-top:-5px;"> AM
	  	</label>
	  	<label>
	    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="margin-top:-5px;"> PM
	  	</label>
	  	<label>
	    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="margin-top:-5px;"> All day
	  	</label>
	  </label>
	  <a id ="btn-search" style="margin-top:20px;margin-left:270px;"class="btn btn-large btn-warning" >Search</a>
	 
  </div>
 </div>  
{% endblock %}
