{% extends "layout.html" %}
  
{% block content %}



<h2 style="text-align:center;"> Forum page </h2>
<button onclick="location.href='#'" type="button" class="btn btn-success">Need help? Post your question</button>
<br><br>
<div id="actionTable" class="body collapse in">
                <table class="table table-bordered responsive">
                    <col width="300">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Questions</th>
                            <th>Post by</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>0 Answer(s)
                                <button onclick="location.href='#'" type="button" class="btn btn-primary">Answer this question</button></p>
                            </td>
                            <td><a href="{{ url_for('q1') }}">what is the result of 1+1</a></td> 
                            <td>Username</td>
                            <td>Date post</td>
                        </tr>
                        <tr>
                            <td>
                                <p>0 Answer(s)
                                <button onclick="location.href='#'" type="button" class="btn btn-primary">Answer this question</button></p>
                            </td>
                            <td ><a href="{{ url_for('q1') }}">Problem with Pascal Triangle</a></td>
                            <td>Username</td>
                            <td>Date post</td>
                        </tr>
                        <tr>
                            <td>
                                <p>0 Answer(s)
                                <button onclick="location.href='#'" type="button" class="btn btn-primary">Answer this question</button></p>
                            </td>
                            <td><a href="{{ url_for('q1') }}">Homework number 5 page 99 in Calculus text</a></td>
                            <td>Username</td>
                            <td>Date post</td>
                        </tr>
                    </tbody>
                </table>
            </div>


{% endblock %}
