{% extends "layout.html" %}
{% block forstyle %}

.right{ position: fixed;
    top: 50px;
    right: 1em;;} 
	#wrapper {
	    margin-left:auto;
	    margin-right:auto;
	    width:900px;
	}
p{
    line-height: 2.5;
}
{% endblock %} 

{% block content %}
<br>
<h2 style="text-align:center;"> My Dashboard </h2>
<br>
<div id="wrapper">
<div style="float: left; width: 600px;" id='calendar'>
	<a href="{{ url_for('calendar') }}"> View Calendar in bigger size. </a>
	
</div>

<div style="float: left;margin-top:20px;margin-left:90px;width:100px;">
	<ul class="thumbnails">
     	  <li class="span4" style="margin-top:20px;">
       	  <a href="{{ url_for('findgroup') }}">
  			<p style="float: left;"><img src="../static/img/search.jpg" height="80px" width="80px" border="1px"></p>
  			<p style="margin-top:10px;font-size:25px"> Find Group </p>	
       	   </a>
   	    </li>
     	  <li class="span4" style="margin-top:20px;">
       	  <a href="{{ url_for('buddies') }}">
  			<p style="float: left;"><img src="../static/img/user_search.png" height="80px" width="80px" border="1px"></p>
  			<p style="margin-top:10px;font-size:25px;"> Find Buddies </p>	
       	   </a>
   	    </li>
   	    <li class="span4" style="margin-top:20px;">
       	  <a href="{{ url_for('profile') }}">
  			<p style="float: left;"><img src="../static/img/profile.jpg" height="80px" width="80px" border="1px"></p>
  			<p style="margin-top:10px;font-size:25px;"> My Profile </p>	
       	   </a>
   	    </li>
</div>



{% endblock %}

{% block extrascript %}
<script src="{{ url_for('static', filename = 'js/jquery-1.9.1.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/jquery-ui-1.10.2.custom.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/fullcalendar.min.js') }}" ></script>

<script>
	$(document).ready(function() {
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
             	
                function event(title,start,id)
		{
			this.id = id;
			this.title=title;
			this.start=start;
		}
	 	thong = new event('event1','2013-07-21',2);
                
                $('#calendar').fullCalendar({
                        header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
			events: [
				thong,
				{
   					 id     : 1,
					 title  : 'event2',
            				 start  : '2013-07-05',
            				 end    : '2013-07-07'
				}
			]
		});
                thong.title = 'something';
                //$('#calendar').fullCalendar('removeEvents' ,2)
                $('#calendar').fullCalendar('updateEvent', thong);  
	
	});
</script>
{% endblock %}
