{% extends "layout.html" %}
{% block forstyle %}
{% endblock %}  
{% block content %}
<h2 style="text-align:center;"> Invitation </h2>

{% endblock %}
{% block extrascript %}
<script type="text/javascript">
function toggle(source) {
  checkboxes = document.getElementsByName('foo');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<div class="container">
    <div class="well span5">
		<strong><font style="margin-left:150px;" color="2896FF"> From Buddies </font></strong>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User A </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D"> Add you as a friend  </font>
			</p>
	  	  <div class="btn-group" style="margin-left:240px;">
	    		<a class="btn btn-danger" > Accept</a>
	  			<a class="btn btn-success"> Deny </a>
	  		</div>
			<hr>    
		</div>
	
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> User C </b> <br> </font>	
			<font style="margin-left:10px;" color="E8A40D">Add you as a friend  </font>
			</p>
  	  	  <div class="btn-group" style="margin-left:240px;">
  	    		<a class="btn btn-danger" > Accept</a>
  	  			<a class="btn btn-success"> Deny </a>
  	  		</div>	
			<hr>    
		</div>	
	</div>
    <div class="well span5">
		<strong><font style="margin-left:150px;" color="2896FF";> From Groups </font></strong>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
				<font style="margin-left:10px;" color="2BA515"><b> User B </b> <br> </font>	
				<font style="margin-left:10px;" color="E8A40D">Invite you to a group </font>
			</p>
		  	 <div class="btn-group" style="margin-left:240px;">
		  	    <a class="btn btn-danger" > Accept</a>
		  	  	<a class="btn btn-success"> Deny </a>
			</div>	
			<hr>    
				</div>
		<div style="margin-top:20px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="1px"></p>
				<font style="margin-left:10px;" color="2BA515"><b> User B </b> <br> </font>	
				<font style="margin-left:10px;" color="E8A40D">Invite you to a group </font>
			</p>
			<div class="btn-group" style="margin-left:240px;">
				<a class="btn btn-danger" > Accept</a>
				<a class="btn btn-success"> Deny </a>
			</div>	
			<hr>    
		</div>		
	</div>
</div>
{% endblock %}
