<!DOCTYPE html>
<html>
<head>
<title> BuddyUp </title>
 <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>




<style>
color{color:red;}
#a{width:90%;}
.dropdown-menu {
 	background-color:#4169E1;
}
.span6	{width: 450px;}
</style>
</head>
<body>
	

<h2 style="text-align:center;"> Welcome to BuddyUp! </h2>
<div class="container">
<div class="span3"></div>
		<form class="well span6">  
		  <h4> Please fill in</h4>
		  <label> Your Name <color> (*Required) </color> </label>  
		  <input type="text" class="span2" placeholder="First Name">  
		  <input type="text" class="span2" placeholder="Last Name">  
		  <label> Your Course <color> (*Required) </color></label>
		  <select>
		  <option>STAT 1xx</option>
		  <option>STAT 2xx</option>
		  <option>STAT 3xx</option>
	  	  </select>
		  <label> Location</label>
		  <select>
		  <option>Campus</option>  
		  <option>SW Portland</option>
		  <option>SE Portland</option>
		  <option>NW Portland</option>
		  <option>NE Portland</option>
		  <option>Beaverton</option>
		  <option>Gresham</option>
		  <option>Hillsborro</option>
	  	  </select>
		  
		  <label> Time for Study Group </label>
		  <label> <input type="checkbox" class="toggle" id="monday" style="margin-top:-5px;margin-left:10px;">  Monday </label>
		  <div class="detail" id="mondaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="tuesday" style="margin-top:-5px;margin-left:10px;;">  Tuesday </label>
		  <div class="detail" id="tuesdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="wednesday" style="margin-top:-5px;margin-left:10px;;">  Wednesday </label>
		  <div class="detail" id="wednesdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="thursday" style="margin-top:-5px;margin-left:10px;">  Thursday </label>
		  <div class="detail" id="thursdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="friday" style="margin-top:-5px;margin-left:10px;">  Friday </label>
		  <div class="detail" id="fridaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="saturday" style="margin-top:-5px;margin-left:10px;">  Saturday </label>
		  <div class="detail" id="saturdaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <label> <input type="checkbox" class="toggle" id="sunday" style="margin-top:-5px;margin-left:10px;">  Sunday </label>
		  <div class="detail" id="sundaydetail" style="margin-left:30px;">
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" style="Margin-top:-5px;"> AM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" style="Margin-top:-5px;"> PM </label>
		    <label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" style="Margin-top:-5px;"> All day </label>
		  </label>
		  </div>
		  <a class="btn btn-large btn-primary" href="{{ url_for('landing2') }}" style="margin-left:370px;margin-top: 30px;">  Next </a>
		</form>  
</div>   
<script>
$('.detail').hide();
$('.toggle').change(function() {
	$('#'.concat(this.id).concat('detail')).toggle();
});
</script>

</body>
</html>
