<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> BuddyUp</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="http://cdn.strategiqcommerce.com/ajax/libs/jasny-bootstrap/2.3.0-j5/jasny-bootstrap.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/fullcalendar.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/fullcalendar.print.css') }}" rel="stylesheet" media='print'>
<style>
{% block forstyle %}
{% endblock %}
</style>

</head>


<body>
	<header>
	<div class="navbar navbar-inverse navbar-fixed-top" style:"height:30px;">
	  <div class="navbar-inner">
		  <a class="brand" href="{{ url_for('home') }}">
			  <img id="topbar_logo" src="../static/img/BuddyUpLogo_300x88.png"> </img>
		  </a>
	    <ul class="nav" style="margin-top:10px;">
	        <li><a href="{{ url_for('profile') }}"> Profile </a></li>
	        <li><a href="{{ url_for('invite') }}"> Invitation</a></li>
			<li><a href="{{ url_for('resources') }}">Resources</a></li>
	    </ul>
		
		<ul class="nav pull-right" style="margin-top:10px;">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					<li><a tabindex="-1"  href="{{ url_for('editprofile') }}"><i class="icon-edit me_icon"></i> Edit Your Profile </a></li>
					<li><a tabindex="-1"  href="{{ url_for('help') }}"><i class="icon-comment me_icon"></i> Help </a></li>
					<li><a tabindex="-1"  href="#logout"><i class="icon-off me_icon"></i>  Log out</a></li>
				</ul>
			</li>
		</ul>
		
	  </div>
	</div>
</header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

{% block extrascript %}
{% endblock %}


</body>
</html>
