{% extends "layout.html" %}
  
{% block content %}

<br>
<div class="row">
  <div class="span4 offset1">
    
    <img src="../static/img/index.jpg" class="img-rounded">
  </div>

  <div class="span6">
    <h2>Username</h2>
	<address>
    Portland State University<br>
    </address>
	<a href="https://www.facebook.com/"> <img src="../static/img/facebook.png" height="50px" width="50px" > </a>
	<a href="https://twitter.com/"> <img src="../static/img/twitter_icon.png" height="50px" width="50px" style="margin-left:10px;"> </a>
	
	
  </div>
</div>


<div class="row">

<div class="span10 offset1">
	<h4>Bio</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit nulla, consectetur nec imperdiet vitae, pretium sit amet purus. Nam eu ligula a nibh dignissim volutpat. Morbi ac justo sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi id nisl a lorem aliquam accumsan. Sed commodo auctor libero, quis fermentum mauris elementum sed. Sed non ante sed enim suscipit dapibus. Integer condimentum pretium mi, eget imperdiet est dapibus et. Mauris ornare urna eu odio adipiscing porta. Morbi eu ipsum sed sapien vestibulum porttitor. Ut nulla odio, lobortis et mattis id, aliquet ut est. Ut sit amet ligula est, vitae dictum arcu. Integer at erat mauris, rutrum mattis metus. Mauris id neque orci, non volutpat nulla. Integer quis nunc metus. <br>
	<br>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit nulla, consectetur nec imperdiet vitae, pretium sit amet purus. Nam eu ligula a nibh dignissim volutpat. Morbi ac justo sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi id nisl a lorem aliquam accumsan. Sed commodo auctor libero, quis fermentum mauris elementum sed. Sed non ante sed enim suscipit dapibus. Integer condimentum pretium mi, eget imperdiet est dapibus et. Mauris ornare urna eu odio adipiscing porta. Morbi eu ipsum sed sapien vestibulum porttitor. Ut nulla odio, lobortis et mattis id, aliquet ut est. Ut sit amet ligula est, vitae dictum arcu. Integer at erat mauris, rutrum mattis metus. Mauris id neque orci, non volutpat nulla. Integer quis nunc metus.

	</p>

</div>
</div>

{% endblock %}
