{% extends "layout.html" %}
{% block forstyle %}
.span1	{width: 40px;}
.span2	{width: 100px;}
.span5	{width: 500px;}
.span6	{width: 550px;}

{% endblock %}  
{% block content %}
<h1 style="text-align:center"> Event Page </h1>
<br>
<div class="span1"> </div>
	<div class="well span2">
		<h5 style="text-align:center"> Attendants </h5>
		<div id="container" style="white-space:nowrap;margin-bottom:2px;">

		    <div id="image" style="display:inline;">
		        <img src="../static/img/index.jpg" width="30" height="22"/>
		    </div>

		    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
				User 1
			</a>

		</div>
		<div id="container" style="white-space:nowrap;;margin-bottom:2px;">

		    <div id="image" style="display:inline;">
		        <img src="../static/img/index.jpg" width="30" height="22"/>
		    </div>

		    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
				User 2
			</a>

		</div>
		<div id="container" style="white-space:nowrap;margin-bottom:2px;">

		    <div id="image" style="display:inline;">
		        <img src="../static/img/index.jpg" width="30" height="22"/>
		    </div>

		    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
				User 3
			</a>

		</div>

		<div id="container" style="white-space:nowrap;;margin-bottom:2px;">

		    <div id="image" style="display:inline;">
		        <img src="../static/img/index.jpg" width="30" height="22"/>
		    </div>

		    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('profile') }}"> 
				User 4
			</a>

		</div>

	</div>
 	<div class="well span6">
		<div style="margin-top:10px;">
			<text style="margin-left:10px;">
			<font color="red"> <b> Group A </b> </font>	
			<font color="green" style="margin-left:350px;"> Created by <b> User 1 </b> </font> <br>
			<font style="margin-left:10px;" color="003CC8">Date: 04/09/2013</font> <br>
			<font style="margin-left:10px;" color="8C4620">Time: 3pm</font>
			<hr>
			</text>
	        <div class="row"><div class="span3"></div> 
	        <div class="well span5">
			<div style="margin-top:5px;">
			<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="5px"> <h4>&nbsp;Comment</h4> &nbsp;by <b> User 2 </b></p>  
			</div>
	                 <br> 
	                <p>What should we cover? </p>
	        </div><br><br><br>&nbsp;&nbsp;&nbsp;	      
	        </div>
				
			
	        <div class="row"><div class="span3"></div> 
	        <div class="well span5">
				<div style="margin-top:5px;">
				<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="50px" width="50px" border="5px"> <h4>&nbsp;Comment</h4> &nbsp;by <b> User 3 </b></p>  
				</div>
		                 <br> 
		                <p>Anything </p>
		        </div><br><br><br>&nbsp;&nbsp;&nbsp;
		        </div>
	        
	        </div>
			<form action="demo_form.asp" id="usrform">
			<textarea class="span5" style="height: 150px;" name="comment" form="usrform" ></textarea>
			  <input type="submit" value="Submit" class="btn btn-success">
			</form>
			
		</div>
		<div class="btn btn-medium btn-danger" style="margin-left:2px;"> Delete Event </div>
		
		

 {% endblock %}