<!DOCTYPE html>
<html>
<head>
<title> BuddyUp </title>
 <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>




<style>
color{color:red;}
#a{width:90%;}
.dropdown-menu {
 	background-color:#4169E1;
}
.span6	{width: 450px;}
</style>
</head>
<body>
	

<h2 style="text-align:center;"> Welcome to BuddyUp! </h2>
<div class="container">
<div class="span3"></div>
		<form class="well span6">  
			<font size="4">
				BuddyUp is a website created by students, for students. It’s designed to help you find study buddies and organize face-to- face study groups. Research shows that students who participate in study groups are more likely to succeed academically. Take a few moments to set up your profile and then go exploring. Any ideas or suggestions? Please email Brian Forrester willbforrester@gmail.com. You’re among the first users and your engagement is strongly encouraged! Help yourself, help your peers and make friends.
			</font>
		  <a class="btn btn-large btn-primary" href="{{ url_for('landing2') }}" style="margin-left:370px;margin-top: 30px;">  Next </a>
		</form>  
</div>   
<script>
$('.detail').hide();
$('.toggle').change(function() {
	$('#'.concat(this.id).concat('detail')).toggle();
});
</script>

</body>
</html>
