{% extends "admin/adminlayout.html" %}
  
{% block content %}
    <br><br>
    <p>Recent login users</p>
    <div class="box">
        <div class="body">
            <table class="table table-bordered table-condensed table-hovered sortableTable">
                <thead>
                    <tr>
                        <th class="header">Username<i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                        <th class="header">Last login time<i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                        <th class="header">Number post on forum<i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>user1</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>user2</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>user3</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>user3</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>             
                </tbody>
            </table>
        </div>
    </div>
    <p>Number of total visits: 0</p>
    <p>Number of unique visitors: 0</p>
    <p>Number of groups: 0</p>
    <p>Number of invites sent: 0</p>
    <p>Number of registered users: 0</p>
     
	<form>
		Enter new course: <input type="text" name="newcourse"></input>
		<input type="submit" value="Add this new course"></input>
	</form> 
	
	<form>
		Current user list courses:
		<br><select size=5>
			<option value="course1">Course1</option>
			<option value="course2">Course2</option>
			<option value="course3">Course3</option>
			<option value="course4">Course4</option>
		</select>
		<input type="submit" value="Remove courses"> 
	</form>
</form> 
                                

{% endblock %}
