<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title %}{% endblock %} - BuddyUp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{ js('jquery') }}"></script>
	<script src="{{ js('bootstrap') }}"></script>
	<link href="{{ css('bootstrap') }}" rel="stylesheet">
	<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet">
	<link href="{{ css('bootstrap-fileupload') }}" rel="stylesheet">
	<link href="{{ css('jquery.stickynotes') }}" rel="stylesheet">
	<link href="{{ css('fullcalendar') }}" rel="stylesheet">
	<link href="{{ css('fullcalendar.print') }}" rel="stylesheet" media="print">
	<link href="{{ css('style') }}" rel="stylesheet">
	{% block extrahead %}{% endblock %}
</head>


<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a class="brand" href="{{ url_for('home') }}">
				<img id="topbar_logo" src="{{ img('BuddyUpLogo_300x88.png') }}">
			</a>
			{# Don't show links if not logged in (like with 404 errors) #}
			{% if logged_in %}
			<ul class="nav" style="margin-top:10px;">
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('invite_list') }}"> Invites</a></li>
				{# No forums for now
				<li><a href="{{ url_for('questions_list_all') }}">Resources</a></li>
				#}
				<li><a href="{{ url_for('buddy_group_list') }}">Buddies</a></li>
			</ul>

			<ul class="nav pull-right" style="margin-top:10px;">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user_name }} <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><a tabindex="-1"  href="{{ profile(user_record) }}"><i class="icon-user me_icon"></i>  My Profile </a></li>
						<li><a tabindex="-1"  href="{{ url_for('profile_edit') }}"><i class="icon-edit me_icon"></i> Edit My Profile </a></li>
						<li><a tabindex="-1"  href="{{ url_for('help') }}"><i class="icon-comment me_icon"></i> Help </a></li>
						<li><a tabindex="-1"  href="{{ url_for('logout') }}"><i class="icon-off me_icon"></i>  Log out</a></li>
					</ul>
				</li>
			</ul>
			{% endif %}
		</div>
		</div>
	</div>
<div class="container">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>
